.hero{
    display: grid;
    align-items: center;
    color: var(--text-color-light);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),url('../../assets/hero.png') no-repeat center;
    background-size: cover;
}

.hero-content{
    display: grid;
    justify-items: start;
    padding: 3rem;
    gap: 1.2rem;
    font-family: var(--font-primary);
    /* border: 2px solid white; */
    margin-top: 5rem;
}

.hero-description{
    max-width: 50%;
    font-size: 1.1rem;
}


.hero-tagline{
    font-size: 1.1rem;
    font-weight: 400;
}

.hero-title{
    font-family: var(--font-secondary);
    font-size: clamp(5rem,calc(2rem + 10vw),10rem);
    font-weight: 400;
}

@media (max-width:750px) {
    .hero-description{
        max-width: 85%;
    }
}