.coffee-tagline{
    font-size: clamp(1.2rem,calc(0.5rem + 5vw),3rem);
}

.coffee-blast-img{
    position: absolute;
    width: clamp(10rem, calc(12rem + 10vw), 55rem);
    max-width: 100%;
    height:auto;
    top: clamp(-12em,calc(-12em - 12vw),-20rem);
    object-fit: cover;
    left: 0;
    /* border:2px solid var(--accent-color); */
}