.coffee-flavor{
    background-color: var(--card-color);
    padding: 1rem;
    display: grid;
    align-items: center;
    gap: 1rem;
    text-align: center;
}


.flavor-name{
    --text-color:var(--heading-color);
    text-align: center;
    color:var(--text-color);
}

.flavor-ratio{
    margin-block: 0.4rem;
}

.flavor-price{
    margin-block: 0.5rem;
    --text-color:var(--heading-color);
    color:var(--text-color);
    font-weight: bold;
}


.coffee-flavor > img{
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}